<p id="notice"><%= notice %></p>

<p>
  <b>Total:</b>
  <%= @will.total %>
</p>

<p>
  <b>Base:</b>
  <%= @will.base %>
</p>

<p>
  <b>Ability:</b>
  <%= @will.ability %>
</p>

<p>
  <b>Magic:</b>
  <%= @will.magic %>
</p>

<p>
  <b>Misc:</b>
  <%= @will.misc %>
</p>


<%= link_to 'Edit', edit_will_path(@will) %> |
<%= link_to 'Back', wills_path %>
