<p id="notice"><%= notice %></p>

<p>
  <b>History:</b>
  <%= @background.history %>
</p>

<p>
  <b>Physical:</b>
  <%= @background.physical %>
</p>

<p>
  <b>Personality:</b>
  <%= @background.personality %>
</p>

<%= link_to 'Edit', edit_background_path(@background) %> |
<%= link_to 'Back', backgrounds_path %>
