<%= form_for ([@character, @background]) do |f| %>
<% if @background.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@background.errors.count, "error") %> prohibited this record from being saved:</h2>
      <ul>
        <% @background.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :physical %><br />
    <%= f.text_area :physical, :rows => 10, :cols => 60 %>
  </div>
  <div class="field">
    <%= f.label :personality %><br />
    <%= f.text_area :personality, :rows => 10, :cols => 60 %>
  </div>
  <div class="field">
    <%= f.label :history %><br />
    <%= f.text_area :history, :rows => 10, :cols => 60 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
