<body id="skills">
<div id="skill_set">
<% @character.skills.reject {|skill| skill.new_record? }.each do |skill| %>
    <span class="list_title"><%= skill.name %></span>
    <span class="list">Skill Modifier: <%= skill.total %></span>
    <span class="list">Ability Modifier: <%= skill.ability_mod %></span>
    <span class="list">Ranks: <%= skill.ranks %></span>
    <span class="list">Miscellaneous Modifier: <%= skill.misc_mod %></span>
 <%= link_to 'Edit', edit_character_skill_path(@character, skill) %> 
 <br /><br />
<% end %>
</div>
</body>