<h2><%= @character.name %>'s Skills</h2>
<% @sorted_skills.reject {|skill| skill.new_record? }.each do |skill| %>
    <b><%= skill.name %></b><br /><br />
    <b>Skill Modifier:</b>
    <%= skill.total %>
    <b>Key Ability:</b>
    <%= skill.ability %>
    <b>Ability Modifier:</b>
    <%= skill.ability_mod %>
    <b>Miscellaneous Modifier:
    <%= skill.misc_mod %>
    <b>Ranks:</b>
    <%= skill.ranks %><br />
 <%= link_to 'Edit', edit_character_skill_path(@character, skill) %>  
 <br /><br />
<% end %>
