<div id="ac" class="float_left">

<b>Armor Class:</b>
<%= @ac.total %>
<br />
<b>Touch:</b>
<%= @ac.touch  %>
<br />
<b>Flat-footed:</b>
<%= @ac.flat  %>
<br />
<b>Damage Reduction:</b>
<%= @ac.reduction  %>
<br />
<b>Spell Resistance:</b>
<%= @ac.sr  %>
<br />
<%= link_to 'Edit', edit_character_ac_path(@character,@ac) %>
</div>