<div id="details" class="float_left">

<b>Name:</b>
<%= @character.name %>

<b>Class:</b>
<%= @character.profession %>

<b>Level:</b>
<%= @character.level %>

<b>Sex:</b>
<%= @character.sex %>

<b>Alignment:</b>
<%= @character.alignment %>

<b>Campaign:</b>
<%= @character.campaign %>
<br />
<%= link_to 'Edit Character Details', edit_character_path(@character) %>

</div>