<div id="menu">
<span id="menu_item">
<span class="character_menu"><%= link_to @character.name, character_path(@character)  %></span>
<span class="item_menu"><%= link_to 'Items', character_items_path(@character) if @character.items.exists? %></span>
<span class="skill_menu"><%= link_to 'Skills', character_skills_path(@character) if @character.skills.exists?  %></span>
<span class="special_menu"><%= link_to 'Special Abilities', character_specials_path(@character) if @character.specials.exists?  %></span>
<span class="spell_menu"><%= link_to 'Spells', character_spells_path(@character) if @character.spells.exists?  %></span>
<span class="bg_menu"><%= link_to 'Background', character_backgrounds_path(@character) if @character.background %></span>

</span>
<div id="float_right">
<%= link_to 'Back', characters_path %>
</div>
</div>