<span class="create_item">Add:</span>
<span class="create_item"><%= link_to 'Items Page', character_items_path(@character) unless @character.items.exists? %></span>
<span class="create_item"><%= link_to 'Skills Page', character_skills_path(@character) unless @character.skills.exists? %></span>
<span class="create_item"><%= link_to 'Special Abilities Page', character_specials_path(@character) unless @character.specials.exists? %></span>
<span class="create_item"><%= link_to 'Spells Page', character_spells_path(@character) unless @character.spells.exists? %></span>
<span class="create_item"><%= link_to 'Background Page', new_character_background_path(@character) unless @character.background %></span>