<div id="saves" class="float_left">

<% if @fortitude.new_record? %>
<%= link_to 'Add Fortitude Saving Throw', new_character_fortitude_path(@character) %>
<% else %>

<b>Fortitude Total:</b>
<%= @fortitude.total %>

<b>Base:</b>
<%= @fortitude.base || '-' %>

<b>Ability:</b>
<%= @fortitude.ability || '-' %>

<b>Magic:</b>
<%= @fortitude.magic || '-' %>

<b>Miscellaneous:</b>
<%= @fortitude.misc || '-' %>
<br />
<%= link_to 'Edit Fortitude Saving Throw', edit_character_fortitude_path(@character,@fortitude) %>
<% end %>
<br />

<% if @reflex.new_record? %>
<%= link_to 'Add Reflex Saving Throw', new_character_reflex_path(@character) %>
<% else %>
<b>Reflex Total:</b>
<%= @reflex.total %>

<b>Base:</b>
<%= @reflex.base || '-' %>

<b>Ability:</b>
<%= @reflex.ability || '-' %>

<b>Magic:</b>
<%= @reflex.magic || '-' %>

<b>Miscellaneous:</b>
<%= @reflex.misc || '-' %>
<br />
<%= link_to 'Edit Reflex Saving Throw', edit_character_reflex_path(@character,@reflex) %>
<% end %>
<br />
<% if @will.new_record? %>
<%= link_to 'Add Will Saving Throw', new_character_will_path(@character) %>
<% else %>
<b>Will Total:</b>
<%= @will.total %>

<b>Base:</b>
<%= @will.base %>

<b>Ability:</b>
<%= @will.ability %>

<b>Magic:</b>
<%= @will.magic %>

<b>Miscellaneous:</b>
<%= @will.misc %>
<br />
<%= link_to 'Edit Will Saving Throw', edit_character_will_path(@character,@will) %>
<% end %>
</div>