<div id="stats" class="float_left">


<% if @statistic.new_record? %>
  <%= link_to 'Add Statistics', new_character_statistic_path(@character) %>
<% else %>
<b>Strength:</b>
<%= @statistic.strength %>
<br />

<b>Dexterity:</b>
<%= @statistic.dexterity %>
<br />

<b>Constitution:</b>
<%= @statistic.constitution  %>
<br />

<b>Intelligence:</b>
<%= @statistic.intelligence  %>
<br />

<b>Wisdom:</b>
<%= @statistic.wisdom  %>
<br />

<b>Charisma:</b>
<%= @statistic.charisma  %>
<br />
  <%= link_to 'Edit Statistics', edit_character_statistic_path(@character,@statistic) %>
<% end %>
</div>