<%= render 'menu' %>

<p id="notice"><%= notice %></p>

<%= link_to 'Add Items Page', character_items_path(@character) unless @character.items.exists? %>
<br />
<%= link_to 'Add Special Abilities Page', character_specials_path(@character) unless @character.specials.exists? %>
<br />
<%= link_to 'Add Spells Page', character_spells_path(@character) unless @character.spells.exists? %>

<div id="main">
<p>
<%= render 'details' %>
</p>

<p>
<%= render 'statistics' %>
</p>

<p>
<%= render 'hp' %>
</p>

<p>
<%= render 'ac' %>
</p>

<p>
<%= render 'initiative' %>
</p>

<p>
<%= render 'saves' %>
</p>

<p>
<%= render 'background' %>
</p>
</div>