<body id="character">
<%= render 'menu' %>

<p id="notice">
  <%= notice %>
</p>
<div id="create">
<% unless @character_pages %>
  <%= render 'create'%>
<% end %>
</div>

<div id="main">
<div id="details">
  <%= render 'details' %>
</div>
<%= render 'display'%>
</div>
</body>