<%= render 'menu' %>

<p id="notice"><%= notice %></p>

<div id="main">
<p>
<%= render 'details' %>
</p>

<p>
<%= render 'statistics' %>
</p>

<p>
<%= render 'hp' %>
</p>

<p>
<%= render 'ac' %>
</p>

<p>
<%= render 'initiative' %>
</p>

<p>
<%= render 'saves' %>
</p>

</div>