<%= form_for ([@character, @item]) do |f| %>
<% if @item.errors.any? %>
    <div id="error_explanation">
      <%= pluralize(@item.errors.count, "error") %> prohibited this record from                 
        being saved:
      <ul>
        <% @item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :item_type %><br />
    <%= f.text_field :item_type %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<%= link_to 'Destroy', [@item.character, @item], :confirm => 'Are you sure?', :method => :delete %>

<%= link_to 'Back', character_path(@character)  %>

