<body id="items">

<% @character.items.reject {|item| item.new_record? }.each do |item| %>
    <span class="list_title"><%= item.name %></span>
    <span class="list"><%= item.item_type %></span>
    <span class="list"><%= item.location %></span>
    <span class="list"><%= item.description %></span>
    <span class="list"><%= link_to 'Edit', edit_character_item_path(@character, item) %></span>
    <br /><br />
<% end %>
</body>