<%= form_for ([@character, @fortitude]) do |f| %>
<% if @fortitude.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fortitude.errors.count, "error") %> prohibited this record from                 
        being saved:</h2>
      <ul>
        <% @fortitude.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :base %><br />
    <%= f.text_field :base %>
  </div>
  <div class="field">
    <%= f.label :ability %><br />
    <%= f.text_field :ability %>
  </div>
  <div class="field">
    <%= f.label :magic %><br />
    <%= f.text_field :magic %>
  </div>
  <div class="field">
    <%= f.label :misc %><br />
    <%= f.text_field :misc %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
