<h1>Listing fortitudes</h1>

<table>
  <tr>
    <th>Total</th>
    <th>Base</th>
    <th>Ability</th>
    <th>Magic</th>
    <th>Misc</th>
    <th>Character</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fortitudes.each do |fortitude| %>
  <tr>
    <td><%= fortitude.total %></td>
    <td><%= fortitude.base %></td>
    <td><%= fortitude.ability %></td>
    <td><%= fortitude.magic %></td>
    <td><%= fortitude.misc %></td>
    <td><%= fortitude.character %></td>
    <td><%= link_to 'Show', fortitude %></td>
    <td><%= link_to 'Edit', edit_fortitude_path(fortitude) %></td>
    <td><%= link_to 'Destroy', fortitude, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fortitude', new_fortitude_path %>
