<%= form_for(@ac) do |f| %>
  <% if @ac.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ac.errors.count, "error") %> prohibited this ac from being saved:</h2>

      <ul>
      <% @ac.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :total %><br />
    <%= f.text_field :total %>
  </div>
  <div class="field">
    <%= f.label :base %><br />
    <%= f.text_field :base %>
  </div>
  <div class="field">
    <%= f.label :armor %><br />
    <%= f.text_field :armor %>
  </div>
  <div class="field">
    <%= f.label :shield %><br />
    <%= f.text_field :shield %>
  </div>
  <div class="field">
    <%= f.label :dex %><br />
    <%= f.text_field :dex %>
  </div>
  <div class="field">
    <%= f.label :size %><br />
    <%= f.text_field :size %>
  </div>
  <div class="field">
    <%= f.label :natural %><br />
    <%= f.text_field :natural %>
  </div>
  <div class="field">
    <%= f.label :deflection %><br />
    <%= f.text_field :deflection %>
  </div>
  <div class="field">
    <%= f.label :misc %><br />
    <%= f.text_field :misc %>
  </div>
  <div class="field">
    <%= f.label :reduction %><br />
    <%= f.text_field :reduction %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
