<p id="notice"><%= notice %></p>

<p>
  <b>Total:</b>
  <%= @ac.total %>
</p>

<p>
  <b>Base:</b>
  <%= @ac.base %>
</p>

<p>
  <b>Armor:</b>
  <%= @ac.armor %>
</p>

<p>
  <b>Shield:</b>
  <%= @ac.shield %>
</p>

<p>
  <b>Dex:</b>
  <%= @ac.dex %>
</p>

<p>
  <b>Size:</b>
  <%= @ac.size %>
</p>

<p>
  <b>Natural:</b>
  <%= @ac.natural %>
</p>

<p>
  <b>Deflection:</b>
  <%= @ac.deflection %>
</p>

<p>
  <b>Misc:</b>
  <%= @ac.misc %>
</p>

<p>
  <b>Reduction:</b>
  <%= @ac.reduction %>
</p>

<p>
  <b>Character:</b>
  <%= @ac.character %>
</p>


<%= link_to 'Edit', edit_ac_path(@ac) %> |
<%= link_to 'Back', acs_path %>
